---
title: About
description:
image: /images/cover/cover.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Our Story</h1>
			<p class="subtext editable">We have an extremely talented team whose sole goal is to bring you closer to the people around you.</p>
		</div>
	</div>
</section>

<section class="pad">
	<div class="container">
		<!-- <p class="editor-link"><a href="cloudcannon:collections/_staff_members" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p> -->
		<ul class="pi">
			{% for person in site.staff_members %}
				{% if person.position == 'Principal Investigator' %}
					<li>
						<div class="container flex">
							<div class="staffphoto">
								<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
								<!-- <div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter_username }}">{{ person.name }}</a></div> -->
								<div class="name"><a target="_blank">{{ person.name }}</a></div>
								<div class="position">{{ person.position }}</div>
							</div>
							<div class="introtext"><p class="staffintro">Dr. Yi Zou is an Assistant Professor and principal investigator (PI) of EZLab, at ShanghaiTech University. He received his Ph.D. degree in Electrical and Computer Engineering from the University of Texas at Austin in 2014. Before joining ShanghaiTech University, he was a research associate professor in the College of Engineering and Applied Sciences at Nanjing University. His research focuses on integrated photonics, nanophotonics, and fiber optics.</p></div>
						</div>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
		<hr>
		<ul class="rs">
			{% for person in site.staff_members %}
				{% if person.position == 'Research Scientist' %}
					<li>
						<div class="container flex">
							<div class="staffphoto">
								<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
								<!-- <div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter_username }}">{{ person.name }}</a></div> -->
								<div class="name"><a target="_blank">{{ person.name }}</a></div>
								<div class="position">{{ person.position }}</div>
							</div>
							<div class="introtext"><p class="staffintro">Dr. Peiji Zhou is a research associate professor of EZLab, at ShanghaiTech University. He received his Ph.D. degree from the Institute of Semiconductors, Chinese Academy of Sciences in 2016. Before joining ShanghaiTech, he was a postdoc at Tokyo City University. His research focuses on silicon-integrated photonics devices.</p></div>
						</div>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
		<hr>
		<ul class="phd">
			{% for person in site.staff_members %}
				{% if person.position == 'PhD Student' %}
					<li>
						<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
						<!-- <div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter_username }}">{{ person.name }}</a></div> -->
						<div class="name"><a target="_blank">{{ person.name }}</a></div>
						<div class="position">Ph.D. Student</div>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
		<hr>
		<ul class="master">
			{% for person in site.staff_members %}
				{% if person.position == 'Master Student' %}
					<li>
						<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
						<!-- <div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter_username }}">{{ person.name }}</a></div> -->
						<div class="name"><a target="_blank">{{ person.name }}</a></div>
						<div class="position">Master Student</div>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</section>
