.publications {
	padding: 0;
	margin: 0px;
	font-size: 1em;
	.publication-content {
		color: #dcdcdc;
		p{
			color: #dcdcdc;
		}
			
		ol li {
			color:#dcdcdc;
			text-align: justify;
			padding: 2px 0;
		}
	}
}

